---
import SiteLayout from "../layouts/SiteLayout.astro";
import VigorousVisual from "../components/VigorousVisual.svelte";
---

<SiteLayout>
  <section class="p-8">
    <VigorousVisual client:load /> 
  </section>
</SiteLayout>
